*,
*::before,
*::after {
  box-sizing: border-box;
}

.row {
color: white;
margin-left: 1.25rem;

  &__posters {
    display: flex;
    gap: 0.625rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1.25rem;

    &::-webkit-scrollbar {
      height: .5rem;
      background-color: #aaaa;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cccc;
      border-radius: 5px;
      width: 5px;
    }
  }

  &__poster {
    width: 100%;
    object-fit: contain;
    max-height: 6.25rem;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.08);
      opacity: 1;
    }

    &Large {
      max-height: 15.625rem;

      &:hover {
        transform: scale(1.09);
        opacity: 1;
      }
    }
  }
}
